.main {
  display: flex;
  width: 60rem;
  height: fit-content;
}

.main > img {
  width: 20rem;
  height: 17rem;
  /* border: 2px solid black; */
  box-shadow: 6px 6px 8px black;
  border-radius: 8px;
}

.main > div {
  display: flex;
  width: 40rem;
  height: 17rem;
  flex-direction: column;
}

.main > div > h2 {
  font-size: 3rem;
  margin-top: 2rem;
}

.main > div > span {
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
