.menu {
  background-color: #e9c46a;
  /* min-height: 100vh; */
}

.menu > div {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-right: 10rem;
  padding-left: 10rem;
}
.menu > div > a {
  font-size: 1.3rem;
  color: #9d0208;
  /* border-bottom: 1px solid #9d0208; */
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.menu > div > a::after {
  content: "";
  display: block;
  background: #9d0208;
  width: 100%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.5s;
}
.menu > div > a:hover {
  scale: 1.2;
  font-weight: bold;
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu > section > h2 {
  font-size: 3rem;
  border-bottom: 10px solid #9d0208;
  border-radius: 40%;
  padding-bottom: 1rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 80%;
  -webkit-text-stroke: 3px #9d0208;
  color: #9d0208;
  text-shadow: 4px 4px 6px black;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: "El Messiri";
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  .menu {
    padding-top: 7rem;
  }

  .menu > div {
    gap: 1.2rem;
  }

  .menu > div > a {
    font-size: 1.1rem;
  }

  .menu > section > h2{
     margin-top: 3rem;
  }
}
