.reservations {
  background-color: #e9c46a;
  padding-bottom: 2rem;
}

.reservations > section {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 5rem;
}

.reservations > section > div {
  /* border: 1px solid black; */
  width: 80%;
}

.reservations > section > div > h2 {
  text-transform: uppercase;
  letter-spacing: 6px;
}

.reservations > section > div > h3 {
  letter-spacing: 2px;
}

.reservations > section > section {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: fit-content;
}

.reservations > section > section > div {
  /* border: 1px solid black; */
  width: 33.33%;
}

.reservations > section > section > div > div {
  /* border: 1px solid green; */
  height: 7rem;
}

.reservations > section > section > div > div > h2 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.icon {
  width: 2.5rem;
  height: 3.5rem;
  /* border: 1px solid black; */
}

.icon2 {
  width: 2.5rem;
  height: 3.5rem;
  /* border: 1px solid black; */
}

.reservations > section > section > div > h3 {
  /* border: 1px solid green; */
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  line-height: 2rem;
  font-size: 1.3rem;
}

.reservations > section > section > div > h3 > a {
  text-transform: uppercase;
  border: 1px solid grey;
  padding: 0.7rem;
  color: black;
  cursor: pointer;
}

.reservations > section > section > div > h3 > a:hover {
  color: white;
  background-color: #df7b0f;
  transition: 0.5s;
}

.divSection {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5rem;
  gap: 0.8rem;
  margin-bottom: 1.2rem;
  /* border: 1px solid black; */
}

.info > h3 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  height: 4rem;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 20rem; */
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 0.2rem;
  padding-left: 0.8rem;
}

.info > p {
  font-size: 1.3rem;
  font-weight: 350;
  height: 2rem;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 25rem; */
  margin-top: auto;
  margin-bottom: auto;
  border-left: 1px solid black;
  padding-left: 1rem;
}

@media (max-width: 700px) {
  .reservations {
    padding-top: 6rem;
  }

  .reservations > section {
    gap: 3.5rem;
    padding-bottom: 1.5rem;
  }

  .reservations > section > div > h2 {
    font-size: 1.3rem;
    letter-spacing: 4px;
  }

  .reservations > section > div > h3 {
    font-size: 1rem;
  }

  .reservations > section > section {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .reservations > section > section > div{
    width: 100%;
  }

  .reservations > section > section > div > h3 > a {
    color: white;
    background-color: #df7b0f;
  }

  .divSection {
    padding-top: 2rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 0;
    border-right: 0;
  }
  
  .info{
    gap: 0;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  .icon2{
    width: 3rem;
    height: 3rem;
    padding-left: 0.4rem;
  }

  .info > h3{
    font-size: 1.2rem;
  }

  .info > p{
    font-size: 1rem;
    padding-left: 0;
  }
}
