html {
  scroll-behavior: smooth;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* gap: 2rem; */
  background-color: #e9c46a;
  padding-bottom: 2rem;
}

.promo {
  margin: auto;
  width: 100%;
  margin-top: 0;
  /* height: 50rem; */
}

.imgPr {
  height: 30rem;
}

.section {
  display: flex;
  width: 95%;
  gap: 3rem;
}

.caro {
  margin: auto;
  width: 30rem;
  height: 35rem;
}

.imgC {
  width: 30rem;
  height: 35rem;
}

.section > section > div {
  /* border: 1px solid black; */
  /* border: 10px outset #cccccc;
  background-color: #cccccc; */
  border: 10px inset #d6c120;
  background-color: #dddddd;
}

.section > section > div > p {
  font-size: 3rem;
  font-family: "Italianno";
  text-align: left;
  padding-left: 2rem;
  padding-right: 1rem;
  margin-bottom: 0;
}
.section > section > div > h2 {
  font-size: 4rem;
  font-family: "My Soul";
}


@media (max-width: 700px) {
  .mainDiv{
    flex-direction: column;
    align-items: center;
  }
  
  .promo{
    margin-top: 0;
  }

  .section{
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 30px;
  }
  .caro{
    width: 100%;
  }

}
