.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 1rem; */
  /* padding: 1rem; */
  background-color: #9d0208;
  border-bottom: 1px solid black;
  height: 7rem;
  z-index: 100;
}

.nav__label,
.nav__input,
.garland_menu {
  display: none;
}

.nav__menu {
  width: 40%;
  display: flex;
  gap: 6.5rem;
  padding-left: 6.5rem;
  /* cursor: pointer; */
  /* margin-left: 10rem; */
  /* border: 1px solid black; */
  justify-content: center;
  /* position: relative; */
  /* height: 7rem; */
  align-items: center;
}

.garland {
  width: 100%;
  height: 6rem;
  position: absolute;
  top: 3.8rem;
  z-index: 2;
}

@media (max-width: 700px) {
  .navBar {
    position: fixed;
    width: 100%;
  }
  .nav__label {
    display: block;
    cursor: pointer;
  }

  .garland_menu {
    width: 100%;
    height: 6rem;
    position: absolute;
    top: 14rem;
    z-index: 2;
  }

  .nav__menu {
    padding-left: 0;
    gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 7rem;
    /* bottom: 0; */
    background-color: #9d0207ee;
    width: 100%;
    /* height: 50%; */
    clip-path: circle(0 at center);
    transition: clip-path 0.4s ease-in-out;
  }

  .nav__menu > h2 {
    cursor: pointer;
  }

  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center);
  }

  .navBar > section > div > h2 {
    display: none;
  }

  .navBar > section > div > p {
    display: none;
  }
}

.navBar > section {
  width: 40%;
  display: flex;
  gap: 7rem;
  /* margin-left: 10rem; */
  /* border: 1px solid black; */
  justify-content: center;
  position: relative;
  /* height: 7rem; */
  align-items: center;
}

.navBar > section:hover {
  cursor: pointer;
}

.navBar > section > img {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 1rem;
}

.navBar > section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 7.5rem;
  /* height: 7rem; */
}

.navBar > section > div > h2 {
  font-size: 2.5rem;
  margin: 0;
  font-family: "My Soul";
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.1px black;
  text-shadow: 6px 6px 8px black;
}

.navBar > section > div > p {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  color: white;
  -webkit-text-stroke: 0.1px black;
  font-weight: bold;
}

.navBar > section > h2:hover {
  cursor: pointer;
  scale: 1.2;
  font-weight: bold;
  transition: 0.5s;
}

.nav__menu > h2 {
  font-size: 2rem;
  font-family: "Gentium Book Basic";
  /* font-weight: bold; */
  /* letter-spacing: 4px; */
}

.nav__menu > h2:hover {
  cursor: pointer;
  scale: 1.1;
  text-shadow: 0px 8px 6px rgb(51, 58, 45);
  -webkit-text-stroke: 0.2px white;
  /* font-weight: bold; */
  transition: 0.5s;
}

.navBar > section > h3 {
  position: absolute;
  right: 1.5rem;
  font-size: 2rem;
  /* border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 4px 4px 6px black; */
  font-family: "My Soul";
  font-weight: 500;
  color: white;
  -webkit-text-stroke: 0.1px black;
  text-shadow: 6px 6px 8px rgb(22, 22, 22);
  letter-spacing: 3px;
}

.navBar > section > h3:hover {
  cursor: pointer;
  text-shadow: 10px 10px 12px black;
  font-weight: 900;
  /* background-color: #8f0307; */
  letter-spacing: 2.5px;
  /* transition: 0.5s; */
  /* scale: 1.1; */
  /* color: white; */
}

.btn_hmb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  flex-direction: column;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.linea1,
.linea2,
.linea3 {
  width: 50px;
  height: 10px;
  background-color: rgb(26, 26, 26);
  border-radius: 5px;
  margin: 3px 0px;
  transition: all 400ms ease;
}

/* .nav__input:checked ~ .linea1{
  transform: rotate(140deg);
  top: 10px
}
.nav__input:checked ~ .linea2{
  opacity: 0;
}
.nav__input:checked ~ .linea3{
  transform: rotate(-140deg);
  top: 10px;
} */
